{% extends 'reminder/base.html' %}
{% load static %}
{% block title %}Create reminder{% endblock %}

{% block content %}

<div class="card text-center">
  <div class="card-header">
      <h4>Reminder form</h4>
      <h4 style="color:Tomato;">{{ error }}</h4>
  </div>
  <div class="card-body">
    <form method="POST">{% csrf_token %}
        <h5>{{ form.as_p }}</h5>
        <input style="color: white; background-color:green; font-size: 20px; border-radius: 10px; height:40px; width:370px;"
               type="submit" value="Create" />
    </form>
  </div>
</div>



{% endblock %}