{% extends 'reminder/base.html' %}
{% load static %}
{% block title %}Create reminder{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex">
            <a href="{% url 'create' %}" style="color: green">
                <p><h4>Create new reminder</h4></p>
            </a>
        </div>
    </div>
    {% for rem in content %}
        <div class="container">
            <ul>
                <li>
                    <a href="{% url 'remindetail' rem.id %}" class="nav-link">
                        <div class="card text-left">
                          <div class="card-body">
                            <h4>{{ rem.title }}</h4>
                          </div>
                          <div class="card-footer text-muted text-right">
                            <h5>{{ rem.remind_date }} - {{ rem.remind_time }}</h5>
                          </div>
                        </div>
                    </a>
                </li>
            </ul>
            <hr>
        </div>
    {% endfor %}

{% endblock %}

